In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("C:/Users/Lenovo/Desktop/DATA_HOTELES_PYTHON.xlsx")

In [3]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,agent,customer_type,precio,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,C,3,0.0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,C,4,0.0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,A,C,0,0.0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,A,0,304.0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,A,0,240.0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
# eliminamos columnas que no tienen relevancia para el analisis
data = data.drop(['is_canceled'], axis = 1)

In [5]:
# primer caso de estudio son los huespedes que llevan niños o bebes al hotel
data_niños = data[data["children"]>=1]
data_bebes = data[data["babies"]>=1]
data_bebes_y_niños = data.query("children >=1 or babies >=1")

In [6]:
data[data.arrival_date_year == 2015]

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,reserved_room_type,assigned_room_type,booking_changes,agent,customer_type,precio,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,342,2015,July,27,1,0,0,2,0.0,...,C,C,3,0.0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,737,2015,July,27,1,0,0,2,0.0,...,C,C,4,0.0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,7,2015,July,27,1,0,1,1,0.0,...,A,C,0,0.0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,13,2015,July,27,1,0,1,1,0.0,...,A,A,0,304.0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,14,2015,July,27,1,0,2,2,0.0,...,A,A,0,240.0,Transient,98.0,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82958,City Hotel,4,2015,August,35,23,2,1,1,0.0,...,A,A,1,0.0,Transient,0.0,0,1,Check-Out,2015-08-26
82959,City Hotel,0,2015,October,42,15,0,1,1,0.0,...,D,D,0,94.0,Transient,0.0,0,0,Check-Out,2015-10-16
82960,City Hotel,1,2015,December,50,12,0,1,1,0.0,...,A,A,1,94.0,Transient,0.0,0,0,Check-Out,2015-12-13
82974,City Hotel,0,2015,December,51,16,0,1,1,0.0,...,A,A,0,45.0,Transient,0.0,0,0,Check-Out,2015-12-17
103758,City Hotel,0,2015,October,40,2,0,1,2,0.0,...,E,E,0,0.0,Transient,0.0,0,1,Check-Out,2015-10-03

In [7]:
data_bebes_y_niños = data.query("children >=1 and babies >=1")
data_bebes_y_niños

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,reserved_room_type,assigned_room_type,booking_changes,agent,customer_type,precio,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
272,Resort Hotel,87,2015,July,28,10,2,5,2,1.0,...,C,C,0,5.0,Transient,133.83,0,2,Check-Out,2015-07-17
521,Resort Hotel,106,2015,July,29,18,2,3,2,1.0,...,C,C,0,0.0,Transient,126.00,0,2,Check-Out,2015-07-23
951,Resort Hotel,116,2015,August,32,7,2,5,2,1.0,...,C,C,0,5.0,Transient,133.50,1,2,Check-Out,2015-08-14
998,Resort Hotel,81,2015,August,33,9,2,4,2,1.0,...,C,C,0,250.0,Transient,277.00,1,1,Check-Out,2015-08-15
1081,Resort Hotel,47,2015,August,33,13,0,3,2,1.0,...,C,C,0,242.0,Transient,255.00,0,2,Check-Out,2015-08-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117708,City Hotel,129,2017,August,31,5,2,2,2,1.0,...,D,D,1,14.0,Transient,155.00,0,3,Check-Out,2017-08-09
117758,City Hotel,169,2017,August,31,2,2,5,2,1.0,...,A,A,1,9.0,Transient,154.93,0,1,Check-Out,2017-08-09
118257,City Hotel,288,2017,August,33,17,1,3,2,1.0,...,E,E,3,14.0,Transient,44.00,0,3,Check-Out,2017-08-21
118265,City Hotel,208,2017,August,33,14,1,2,2,2.0,...,E,E,1,14.0,Transient,240.00,0,1,Check-Out,2017-08-17
119106,City Hotel,0,2017,August,35,28,1,0,2,1.0,...,D,D,2,14.0,Transient,150.00,0,0,Check-Out,2017-08-29

In [8]:
pd.options.display.max_columns = 40

In [9]:
data_bebes_y_niños

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,pais,market_segment,distribution_channel,HUESPED REPETIDO,reserved_room_type,assigned_room_type,booking_changes,agent,customer_type,precio,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
272,Resort Hotel,87,2015,July,28,10,2,5,2,1.0,1,FB,PRT,Offline TA/TO,TA/TO,0,C,C,0,5.0,Transient,133.83,0,2,Check-Out,2015-07-17
521,Resort Hotel,106,2015,July,29,18,2,3,2,1.0,1,BB,PRT,Direct,Direct,0,C,C,0,0.0,Transient,126.00,0,2,Check-Out,2015-07-23
951,Resort Hotel,116,2015,August,32,7,2,5,2,1.0,1,BB,PRT,Offline TA/TO,TA/TO,0,C,C,0,5.0,Transient,133.50,1,2,Check-Out,2015-08-14
998,Resort Hotel,81,2015,August,33,9,2,4,2,1.0,1,FB,ESP,Direct,Direct,0,C,C,0,250.0,Transient,277.00,1,1,Check-Out,2015-08-15
1081,Resort Hotel,47,2015,August,33,13,0,3,2,1.0,1,HB,RUS,Online TA,TA/TO,0,C,C,0,242.0,Transient,255.00,0,2,Check-Out,2015-08-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117708,City Hotel,129,2017,August,31,5,2,2,2,1.0,1,BB,ESP,Direct,Direct,0,D,D,1,14.0,Transient,155.00,0,3,Check-Out,2017-08-09
117758,City Hotel,169,2017,August,31,2,2,5,2,1.0,1,BB,FRA,Online TA,TA/TO,0,A,A,1,9.0,Transient,154.93,0,1,Check-Out,2017-08-09
118257,City Hotel,288,2017,August,33,17,1,3,2,1.0,1,HB,ITA,Direct,Direct,0,E,E,3,14.0,Transient,44.00,0,3,Check-Out,2017-08-21
118265,City Hotel,208,2017,August,33,14,1,2,2,2.0,1,HB,ESP,Direct,Direct,0,E,E,1,14.0,Transient,240.00,0,1,Check-Out,2017-08-17
119106,City Hotel,0,2017,August,35,28,1,0,2,1.0,1,BB,PRT,Direct,Direct,0,D,D,2,14.0,Transient,150.00,0,0,Check-Out,2017-08-29

In [10]:
pd.options.display.max_rows

60

In [11]:
data_julio = data.query('arrival_date_month == "July" or arrival_date_month == "August"')
data_julio

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,pais,market_segment,distribution_channel,HUESPED REPETIDO,reserved_room_type,assigned_room_type,booking_changes,agent,customer_type,precio,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,C,C,3,0.0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,C,C,4,0.0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,A,C,0,0.0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,A,A,0,304.0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,A,A,0,240.0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,A,A,0,394.0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,E,E,0,9.0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,D,D,0,9.0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,A,A,0,89.0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,A,A,0,9.0,Transient,151.20,0,2,Check-Out,2017-09-07

In [12]:
data_julio_2015 = data.query('arrival_date_month == "July" and arrival_date_year == 2015')
data_julio_2015

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,pais,market_segment,distribution_channel,HUESPED REPETIDO,reserved_room_type,assigned_room_type,booking_changes,agent,customer_type,precio,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,C,C,3,0.0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,C,C,4,0.0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,A,C,0,0.0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,A,A,0,304.0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,A,A,0,240.0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76621,City Hotel,1,2015,July,31,30,0,1,1,0.0,0,BB,PRT,Complementary,TA/TO,0,A,A,0,0.0,Transient,0.00,0,1,Check-Out,2015-07-31
76625,City Hotel,210,2015,July,31,30,0,1,2,0.0,0,BB,DEU,Online TA,TA/TO,0,B,B,0,9.0,Transient-Party,76.50,0,0,Check-Out,2015-07-31
76626,City Hotel,1,2015,July,31,30,0,1,1,0.0,0,BB,PRT,Complementary,TA/TO,0,A,A,1,0.0,Transient,0.00,0,1,Check-Out,2015-07-31
76627,City Hotel,209,2015,July,31,29,1,4,1,0.0,0,BB,GBR,Online TA,TA/TO,0,A,A,0,7.0,Transient,55.96,0,0,Check-Out,2015-08-03
76628,City Hotel,210,2015,July,31,30,1,3,1,0.0,0,BB,DEU,Online TA,TA/TO,0,B,B,0,9.0,Transient-Party,68.00,0,0,Check-Out,2015-08-03

In [14]:
data.query('arrival_date_month in ["july", "January"]')

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,pais,market_segment,distribution_channel,HUESPED REPETIDO,reserved_room_type,assigned_room_type,booking_changes,agent,customer_type,precio,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
3738,Resort Hotel,109,2016,January,1,1,0,1,2,0.0,0,BB,RUS,Online TA,TA/TO,0,A,D,0,240.0,Transient-Party,59.94,0,1,Check-Out,2016-01-02
3739,Resort Hotel,109,2016,January,1,1,0,1,2,2.0,0,BB,RUS,Online TA,TA/TO,0,H,H,0,240.0,Transient-Party,116.10,1,1,Check-Out,2016-01-02
3740,Resort Hotel,2,2016,January,1,1,0,1,2,0.0,0,BB,PRT,Online TA,TA/TO,0,D,D,0,240.0,Transient,89.00,0,1,No-Show,2016-01-01
3741,Resort Hotel,88,2016,January,1,1,0,2,2,0.0,0,HB,ARG,Online TA,TA/TO,0,A,D,0,241.0,Transient,73.46,0,2,Check-Out,2016-01-03
3742,Resort Hotel,20,2016,January,1,1,0,2,2,2.0,0,BB,PRT,Online TA,TA/TO,0,G,G,0,240.0,Transient,119.00,0,0,Canceled,2015-12-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105403,City Hotel,91,2017,January,4,26,4,8,2,1.0,0,BB,SWE,Online TA,TA/TO,0,A,A,1,9.0,Transient,105.40,0,1,Check-Out,2017-02-07
105410,City Hotel,18,2017,January,4,24,4,10,2,0.0,0,BB,DNK,Online TA,TA/TO,0,A,A,0,7.0,Transient,64.14,0,1,Check-Out,2017-02-07
105512,City Hotel,23,2017,January,5,29,4,9,1,0.0,0,SC,USA,Online TA,TA/TO,0,A,A,0,7.0,Transient,43.53,0,1,Check-Out,2017-02-11
105525,City Hotel,5,2017,January,4,25,4,13,2,2.0,0,BB,AGO,Online TA,TA/TO,0,F,G,1,9.0,Transient,223.00,0,0,Check-Out,2017-02-11
106561,City Hotel,11,2017,January,3,15,13,30,0,0.0,0,SC,USA,Online TA,TA/TO,0,A,K,14,9.0,Transient,0.00,0,0,Check-Out,2017-02-27

In [15]:
# buscar un texto o palabra dentro de una cadena de texto
data.query('hotel.str.contains("City")', engine='python')

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,pais,market_segment,distribution_channel,HUESPED REPETIDO,reserved_room_type,assigned_room_type,booking_changes,agent,customer_type,precio,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40060,City Hotel,6,2015,July,27,1,0,2,1,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,A,A,0,6.0,Transient,0.00,0,0,Check-Out,2015-07-03
40061,City Hotel,88,2015,July,27,1,0,4,2,0.0,0,BB,PRT,Online TA,TA/TO,0,A,A,0,9.0,Transient,76.50,0,1,Canceled,2015-07-01
40062,City Hotel,65,2015,July,27,1,0,4,1,0.0,0,BB,PRT,Online TA,TA/TO,0,A,A,0,9.0,Transient,68.00,0,1,Canceled,2015-04-30
40063,City Hotel,92,2015,July,27,1,2,4,2,0.0,0,BB,PRT,Online TA,TA/TO,0,A,A,0,9.0,Transient,76.50,0,2,Canceled,2015-06-23
40064,City Hotel,100,2015,July,27,2,0,2,2,0.0,0,BB,PRT,Online TA,TA/TO,0,A,A,0,9.0,Transient,76.50,0,1,Canceled,2015-04-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,A,A,0,394.0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,E,E,0,9.0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,D,D,0,9.0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,A,A,0,89.0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,A,A,0,9.0,Transient,151.20,0,2,Check-Out,2017-09-07

In [16]:
data[(data["hotel"] == 'City Hotel') & (data["lead_time"]>=100)]

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,pais,market_segment,distribution_channel,HUESPED REPETIDO,reserved_room_type,assigned_room_type,booking_changes,agent,customer_type,precio,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40064,City Hotel,100,2015,July,27,2,0,2,2,0.0,0,BB,PRT,Online TA,TA/TO,0,A,A,0,9.0,Transient,76.50,0,1,Canceled,2015-04-02
40086,City Hotel,106,2015,July,27,4,1,1,1,0.0,0,BB,PRT,Online TA,TA/TO,0,A,A,0,9.0,Transient,68.00,0,0,Canceled,2015-06-01
40096,City Hotel,100,2015,July,28,6,1,4,2,0.0,1,HB,PRT,Online TA,TA/TO,0,A,A,0,15.0,Transient,93.60,0,2,Canceled,2015-06-15
40099,City Hotel,111,2015,July,28,6,1,2,2,0.0,0,BB,PRT,Online TA,TA/TO,0,A,A,0,9.0,Transient,76.50,0,1,No-Show,2015-07-06
40116,City Hotel,117,2015,July,28,7,5,15,1,0.0,0,BB,PRT,Online TA,TA/TO,0,A,A,0,11.0,Transient,48.60,0,0,Canceled,2015-04-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119382,City Hotel,135,2017,August,35,30,2,4,3,0.0,0,BB,JPN,Online TA,TA/TO,0,G,G,0,7.0,Transient,209.00,0,0,Check-Out,2017-09-05
119383,City Hotel,164,2017,August,35,31,2,4,2,0.0,0,BB,DEU,Offline TA/TO,TA/TO,0,A,A,0,42.0,Transient,87.60,0,0,Check-Out,2017-09-06
119386,City Hotel,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,E,E,0,9.0,Transient,225.43,0,2,Check-Out,2017-09-07
119388,City Hotel,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,A,A,0,89.0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,A,A,0,9.0,Transient,151.20,0,2,Check-Out,2017-09-07

In [19]:
data.loc[data["hotel"] == "City Hotel", ["precio", "stays_in_week_nights", "hotel"]]

        precio  stays_in_week_nights       hotel
40060     0.00                     2  City Hotel
40061    76.50                     4  City Hotel
40062    68.00                     4  City Hotel
40063    76.50                     4  City Hotel
40064    76.50                     2  City Hotel
...        ...                   ...         ...
119385   96.14                     5  City Hotel
119386  225.43                     5  City Hotel
119387  157.71                     5  City Hotel
119388  104.40                     5  City Hotel
119389  151.20                     7  City Hotel

[79330 rows x 3 columns]

In [20]:
data.describe()

,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,HUESPED REPETIDO,booking_changes,agent,precio,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,115360.000000,119390.000000,119390.000000,119390.000000
mean,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.221124,77.442380,101.831122,0.062518,0.571363
std,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.652306,108.064718,50.535790,0.245291,0.792798
min,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.380000,0.000000,0.000000
25%,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,69.290000,0.000000,0.000000
50%,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,9.000000,94.575000,0.000000,0.000000
75%,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,170.000000,126.000000,0.000000,1.000000
max,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,21.000000,535.000000,5400.000000,8.000000,5.000000

In [23]:
data.adults.sum()

221636

In [34]:
data_por_año = data.groupby("arrival_date_year").sum()
data_por_año2 = data.loc[data["arrival_date_year"] == 2015, ["hotel", 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'precio']]

In [36]:
data_por_año2 = data_por_año2.groupby("hotel").sum()
data_por_año2

,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,precio
hotel,,,,,,
City Hotel,10375,27124,24385,512.0,84,1174694.31
Resort Hotel,10075,27014,15877,845.0,139,742884.31